{% extends "includes/form_style.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block card_header %}
  Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
{% endblock %}
{% block card_body %}
  {% include 'includes/errors_check.html' %}
  <form method="post" action="{% url 'users:password_reset' %}">
  {% include 'includes/form_content.html' %}
{% endblock %}
{% block buttons %}
  <div class="col-md-6 offset-md-4">
    <button type="submit" class="btn btn-primary">
      Сбросить пароль
    </button>
  </div>
  </form>
{% endblock %}
